#contact{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: 0 auto;
}

.contactTitle{
    font-size: 2rem;
    font-weight: 600;
    padding-top: 10rem;
    margin-bottom: 1.5rem;
}

.contactDesc{
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 55rem;
    padding-bottom: 5rem;
}

@media screen and (max-width: 1500px) {
    #contact {
        padding-left: 3rem; /* Add left padding */
        
    }
}