#intro{
    height:calc(90vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative; 
}

.links {
    display: flex;
    justify-content: left;
    gap: 40px; /* Adjust the gap between images as needed */
    padding-left: 1rem;
  }
  
  .linkItem {
    display: block;
    width: 40px; /* Set the width of each link item */
    height: 40px;
  }

  .gitImg,
  .linkedinImg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

.gitImg:hover,
.linkedinImg:hover {
    transform: scale(1.1); 
    z-index: 2; 
}


.introContent{
    height: 80vh;
    width: 100%;
    
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hello{
    font-size:1.75rem;
    font-weight: 100;
}

.introName{
    color: white;
}

.introPara{
    font-size:large;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0;
    
}

@media screen and (max-width:840px) {
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size:8vw;
        padding-right: 1rem;
    }
    .hello{
        font-size: 3.5vw;
    }

    
}

@media screen and (max-width:1500px) {
    .introContent {
        padding-left:3rem;
    }
    

}